* {box-sizing: border-box;}
body,html,
h1,h2,h3,h4,h5,h6,fieldset, input, button,  select, textarea,
p,ul,ol,li,dl,dt,dd, table, tr,td ,th, thead, tbody, tfoot,
div, header,nav,aside,article,section,footer,figure,
address,blockquote,video,iframe,hr,
span, em, strong,q,a,sup,sub,details,figcaption,summary,time,s,del,code,mark,img {
    font-family: 'Noto Sans KR', sans-serif;/*  가장근접한 글꼴 */
    font-size: 1.0em; font-weight: normal;
    font-style: normal;
    line-height: 1.0; margin: 0; padding: 0;
} 
a {color: black; text-decoration: none;}
ul,ol,li {list-style: none;}
table,tr,td,th {border-collapse: collapse;}
th {text-align: left;}
fieldset {border: 0;}
.skip {display: none;}
input, button {cursor: pointer;}