.top_p h1 {} 
.top_p h1 img {width: 430px;}
main {background-color: #E6D9B7; width: 430px;}
main .top{background-color: rgb(2, 53, 133); width: 430px; height: 48px; display: flex;align-items: center; justify-content: space-between;}
main .top a{ margin: 16px;}
main .bg1{text-align: center; margin-top: 45px;}
main .bg1 h1>img{}
main .bg1 img{margin-top: 10px;}
main .bg1 p{color: #023586; font-size: 0.75rem; font-weight: 700; margin-top: 3px;}
main .bg2{margin-top: 45px;}
main .bg2 .bg2_1{display: flex;}
main .bg2 .bg2_1 h2 img{margin-left: 16px; border-radius: 5px;}
main .bg2 .bg2_1 h3 img{margin-left: 9px; border-radius: 5px;}
main .bg2 .bg2_2{display: flex; justify-content: space-between; margin: 17px 16px;;}
main .bg2 .bg2_2 h2{font-size: 0.875rem; line-height: 1.3; font-weight: 500;}
main .bg2 .bg2_2 p {font-size: 0.5rem; text-align: right; line-height: 1.5; font-weight: 500;}
main .bg2 .bg2_2 h2 span{color: #023586; font-weight: 700;}
main .bg3{margin-top: 25px; text-align: center;}
main .bg3 .bg3_1{}
main .bg3 .bg3_1 img{border-radius: 5px;} 
main .bg3 .bg3_2{display: flex; align-items: center; justify-content: space-between; margin-top: 17px;}
main .bg3 .bg3_2 p{margin-left: 16px; font-size: 0.5rem; text-align: left; line-height: 1.5; font-weight: 500;}
main .bg3 .bg3_2 h2{text-align: right; margin-right: 16px; font-weight: 600; font-size: 0.875;}
main .bg3 .bg3_2 h2 span{color: #023586; font-weight: 700; line-height: 1.7; } 
main .bg4{}
main .bg4 h2 {text-align: center; margin: 38px 0 30px 0; font-size: 1.25rem; font-weight: 500;}
main .bg4 h2 span{ font-size: 1.25rem; font-weight: 700; color: #023586;}
main .bg4 .order{width: 400px; margin: 0 auto;}

main .bg4 .order .order1_1{display: flex;}
main .bg4 .order .order2_2{display: flex;}
main .bg4 .order .order3_3{display: flex;}

/* 오더 */
main .bg4 .order1,main .bg4 .order2,main .bg4 .order3,main .bg4 .order4,main .bg4 .order5,main .bg4 .order6,main .bg4 .order7,main .bg4 .order8,main .bg4 .order9,main .bg4 .order10,main .bg4 .order11,main .bg4 .order12{
text-align: center; width: 97px; height: 123px; border: 1px solid black; border-radius: 5px; margin-right: 3px; margin-bottom: 3px; 
} 
/* 오더 이미지 */
main .bg4 .order1 img,main .bg4 .order2 img,main .bg4 .order3 img,main .bg4 .order4 img,main .bg4 .order5 img,main .bg4 .order6 img,main .bg4 .order7 img,main .bg4 .order8 img,main .bg4 .order9 img,main .bg .order10 img,main .bg4 .order11 img,main .bg4 .order12 img{
margin-top: 1px;
}
/* 오더 h3 */
main .bg4 .order1 h3,main .bg4 .order2 h3,main .bg4 .order3 h3,main .bg4 .order4 h3,main .bg4 .order5 h3,main .bg4 .order6 h3,main .bg4 .order7 h3,main .bg4 .order8 h3,main .bg4 .order9 h3,main .bg4 .order10 h3,main .bg4 .order11 h3,main .bg4 .order12 h3{
border-bottom: 1.5px solid black; width: 20px; margin: 0 auto; margin-bottom: 5px; padding: 2px;
}
/* 오더 p */
main .bg4 .order1 p,main .bg4 .order2 p,main .bg4 .order3 p,main .bg4 .order4 p,main .bg4 .order5 p,main .bg4 .order6 p,main .bg4 .order7 p,main .bg4 .order8 p,main .bg4 .order9 p,main .bg4 .order10 p,main .bg4 .order11 p,main .bg4 .order12 p{
font-size: 0.55rem; font-weight: 500; line-height: 1.5;
}
main .btm {display: flex; justify-content: space-between;text-align: center; margin-top: 28px; padding-bottom: 10px;}
main .btm .store{margin-left: 16px;}
main .btm .store img{margin-bottom: 8px;}
main .btm .store p{font-size: 0.75rem; font-weight: 600;}
main .btm .consulting{}
main .btm .consulting img{margin-bottom: 8px;}
main .btm .consulting p{font-size: 0.75rem; font-weight: 600;}
main .btm .delivery{}
main .btm .delivery img{margin-bottom: 8px;}
main .btm .delivery p{font-size: 0.75rem; font-weight: 600;}
main .btm .promotion{ margin-right: 16px;}
main .btm .promotion img{margin-bottom: 8px;}
main .btm .promotion p{font-size: 0.75rem; font-weight: 600;}


